Repository dora-metrics/pelorus, pull requests merged in 2023-02, with the labels that each got.

#829 feat: Add dependabot to project
  .github/dependabot.yml
Labels: lgtm, approved, dco-signoff: yes

#693 fix: Allow missing projects in JIRA exporter
  .github/workflows/integration-tests.yml
  docs/GettingStarted/configuration/ExporterFailure.md
  exporters/README.md
  exporters/committime/app.py
  exporters/committime/collector_base.py
  exporters/committime/collector_gitea.py
  exporters/committime/collector_image.py
  exporters/deploytime/app.py
  exporters/failure/collector_jira.py
  exporters/pelorus/deserialization/errors.py
  exporters/pelorus/utils/__init__.py
  exporters/tests/integration/test_committime.py
  exporters/tests/test_failure_exporter.py
Labels: lgtm, approved, ok-to-test, dco-signoff: yes

#792 feat: Automatically add replaces/skips to operator csv file
  scripts/create_pelorus_operator
  scripts/specify_operator_update.py
Labels: approved, dco-signoff: yes

#815 fix: Charts links
  charts/configmaps/committime.yaml
  charts/configmaps/deploytime.yaml
  charts/configmaps/failuretime.yaml
  charts/configmaps/pelorus.yaml
  charts/pelorus/Chart.yaml
  charts/pelorus/subcharts/exporters/Chart.yaml
  charts/pelorus/subcharts/exporters/templates/default_configmaps.yaml
  charts/secrets/github_example.yaml
  charts/secrets/jira_example.yaml
  exporters/pelorus/certificates.py
Labels: approved, dco-signoff: yes

#839 Commit time exporter should produce unique metric rows
  exporters/committime/collector_base.py
Labels: committime-exporter, approved, dco-signoff: yes

#685 feat: Add pre-commit framework
  .github/workflows/pre-commit-test.yml
  .pre-commit-config.yaml
  Makefile
  README.md
  docs/Development.md
  exporters/requirements-dev.txt
  scripts/bump-version
  scripts/chart-test.sh
  scripts/get_tool_dl_url.py
  scripts/install_dev_tools
  scripts/pre-commit
  scripts/setup-pre-commit-hook
Labels: approved, ok-to-test, dco-signoff: yes

#845 Updated release of the Pelorus with it's pelorus-operator.
  charts/operators/Chart.yaml
  charts/pelorus/Chart.yaml
  charts/pelorus/subcharts/exporters/Chart.yaml
  charts/pelorus/subcharts/exporters/templates/_buildconfig.yaml
  charts/pelorus/subcharts/exporters/templates/_imagestream_from_image.yaml
  docs/Development.md
  pelorus-operator/Dockerfile
  pelorus-operator/Makefile
  pelorus-operator/bundle.Dockerfile
  pelorus-operator/bundle/manifests/pelorus-operator.clusterserviceversion.yaml
  pelorus-operator/bundle/metadata/annotations.yaml
  pelorus-operator/bundle/tests/scorecard/config.yaml
  pelorus-operator/config/manager/kustomization.yaml
  pelorus-operator/config/manifests/bases/pelorus-operator.clusterserviceversion.yaml
  pelorus-operator/config/rbac/role.yaml
  pelorus-operator/config/samples/charts_v1alpha1_pelorus.yaml
  pelorus-operator/config/scorecard/patches/basic.config.yaml
  pelorus-operator/config/scorecard/patches/olm.config.yaml
  pelorus-operator/helm-charts/pelorus/Chart.lock
  pelorus-operator/helm-charts/pelorus/Chart.yaml
  pelorus-operator/helm-charts/pelorus/subcharts/exporters/Chart.yaml
  pelorus-operator/helm-charts/pelorus/subcharts/exporters/templates/_buildconfig.yaml
  pelorus-operator/helm-charts/pelorus/subcharts/exporters/templates/_imagestream_from_image.yaml
  pelorus-operator/helm-charts/pelorus/subcharts/exporters/templates/default_configmaps.yaml
  scripts/create_release_pr
Labels: approved, dco-signoff: yes
